<div class="navbar__wrapper navbar__desktop">
    <nav class="navbar">
        <section class="navbar__title">
            <h2 class="navbar__logo"><a href="index.html">Talent</a></h2>
        </section>
        <section class="navbar__links">
            <ul class="nav">
                <li class="nav__item"><a href="projects.html">Projecten</a></li>
                <li class="nav__item"><a href="posts.html">Blog</a></li>
                <li class="nav__item"><a href="about.html">Over de opleiding</a></li>
                <li class="nav__item"><a href="contact.html">Contact</a></li>
            </ul>
        </section>
        <section class="navbar__user">
            <div class="navbar__login-nav">
                <ul class="nav">
                    <li class="nav__item"><a class="login" href="login.html">Login</a></li>   
                    <li class="nav__item"><a class="register" href="register.html">Register</a></li>  
                </ul>
            </div>  
            <div class="navbar__user-nav">
                <ul class="nav">
                    <li class="nav__item"><a href="#" class="username"></a></li>
                    <li class="nav__item"><a href="#" class="logout" id="logout">Logout</a></li>
                </ul>
        </section>
    </nav>
</div>

<div class="navbar__wrapper navbar__mobile">
    <nav class="navbar">
        <section class="navbar__hamburger">
            <i class="fas fa-bars navigation__open"></i>
        </section>
        <section class="navbar__side">
            <section class="navbar__hamburger">
                <i class="fas fa-bars navigation__close"></i>
            </section>
            <section class="navbar__title">
                <h2 class="navbar__logo"><a href="index.html">Talent</a></h2>
            </section>
            <ul class="nav">
                <li class="nav__item"><a href="projects.html">Projecten</a></li>
                <li class="nav__item"><a href="posts.html">Blog</a></li>
                <li class="nav__item"><a href="about.html">Over de opleiding</a></li>
                <li class="nav__item"><a href="contact.html">Contact</a></li>
                <li class="nav__item"><a href="login.html">Login</a></li>
                <li class="nav__item"><a href="register.html">Registreer</a></li>
            </ul>
        </section>
    </nav>
</div>
<div class="navbar__spacer"></div>
