<div class="fb-grid__col-12">
    <div class="card post">
        <div class="card__image post__image">
            <img src="../assets/images/posts/post-1/thumb.jpg" alt="WarmathonThumbnail">
        </div>
        <div class="card__content post__content">
            <h2 class="card__title">Warmathon - Music for Life</h2>
            <p>Dit was Opendeurdag 2018! Wij vonden het fantastisch... hopelijk jullie ook! See you next year!</p>
        </div>
    </div>
</div>
<div class="fb-grid__col-12">
    <div class="card post">
        <div class="card__image post__image">
            <img src="../assets/images/posts/post-2/thumb.jpg" alt="WarmathonThumbnail">
        </div>
        <div class="card__content post__content">
            <h2 class="card__title">Tuut van Tegenwoordig</h2>
            <p>Bert Lecomte is studieduurverkoter Crossmedia-ontwerp bij ons in de opleiding.</p>
        </div>
    </div>
</div>