<div class="fb-grid__col-4 fb-grid__col-sm-12 fb-grid__col-xs-12">
    <div class="card project">
        <div class="card__image">
            <img src="../../../assets/images/projects/project1.jpg" alt="Trois-Quarts Thumbnail">
        </div>
        <div class="card__content">
            <p>Jordy Van der Haegen</p>
            <h2 class="card__title">Web App - Swappit</h2>
        </div>
    </div>
</div>
<div class="fb-grid__col-4 fb-grid__col-sm-12 fb-grid__col-xs-12">
    <div class="card project">
        <div class="card__image">
            <img src="../../../assets/images/projects/project1.jpg" alt="Trois-Quarts Thumbnail">
        </div>
        <div class="card__content">
            <p>Jordy Van der Haegen</p>
            <h2 class="card__title">Web App - Swappit</h2>
        </div>
    </div>
</div>
<div class="fb-grid__col-4 fb-grid__col-sm-12 fb-grid__col-xs-12">
    <div class="card project">
        <div class="card__image">
            <img src="../../../assets/images/projects/project1.jpg" alt="Trois-Quarts Thumbnail">
        </div>
        <div class="card__content">
            <p>Jordy Van der Haegen</p>
            <h2 class="card__title">Web App - Swappit</h2>
        </div>
    </div>
</div>