<div class="spotlight fb-grid__col-12">
    <h1 class="spotlight__title">Mighty Spicy</h1>
    <div class="card">
        <div class="card__image spotlight__image">
            <img src="../assets/images/project4.png" alt="Mighty Spicy thumbnail">
        </div>
        <div class="card__content spotlight__content">
            <p class="spotlight__student">Liesbeth Tempelare</p>
            <p>
            In de tweede jaar ontwikkelden de studenten een huisstijl voor een foodtruck-concept. 
            Liesbeth bracht haar pittige taco's via een kleurrijke branding aan de man
            </p>

            {{> includes/button title="Bekijk dit project" path="/projectdetail.html?id=0"}}
        </div>
    </div>
</div>
