{{!-- pages/index.hbs --}}

{{#> layouts/base title="Styleguide | New Media Development | Artevelde University College Ghent" description="Styleguide for the course Mobile Development I" pathToRoot="../" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container styleguide">
      <div class="fb-grid__row">
        <div class="fb-grid__col-12">
          <h1>Styleguide</h1>
        </div>
        <div class="fb-grid__col-12">
          <h3>Colors</h3>
        </div>
        <div class="fb-grid__col-12 styleguide__color styleguide__color--1">
          <h4 class="styleguide__title">PRIMARY COLOR</h4>
          <p>#1CCCE1</p>
        </div>
        <div class="fb-grid__col-12 styleguide__color styleguide__color--2">
          <h4 class="styleguide__title">SECONDARY COLOR</h4>
          <p>#FF2064</p>
        </div>
        <div class="fb-grid__col-12 styleguide__color styleguide__color--3">
          <h4 class="styleguide__title">DARK COLOR</h4>
          <p>#2B2F34</p>
        </div>
        <div class="fb-grid__col-12 styleguide__color styleguide__color--4">
          <h4 class="styleguide__title">LIGHT COLOR</h4>
          <p>#F6F6F6</p>
        </div>
        <div class="fb-grid__col-12">
          <h3>Typography: Montserrat &amp; Roboto</h3>
          <hr>
          <h1>This is a h1 heading.</h1>
          <h3>This is a h2 heading.</h3>
          <h2>This is a h3 heading.</h2>
          <h4>This is a h4 heading.</h4>
          <h5>This is a h5 heading</h5>
          <h6>This is a h6 heading.</h6>
          <p>This is a normal p tag</p>
          <a href="#">This is a link</a>
        </div>
        <div class="fb-grid__col-12">
          <h3>Button</h3>
          <hr>
        </div>
        <div class="fb-grid__col-12">
          <a href="#">
            <div class="button">
              <h4>Primary button</h4>
            </div>
          </a>
        </div>
        <div class="fb-grid__col-12">
          <a href="#">
            <div class="button button--dark">
              <h4>Secondary button</h4>
            </div>
          </a>
        </div>
        <div class="fb-grid__col-12">
          <h3>Tags</h3>
          <hr>
        </div>
        <div class="fb-grid__col-12">
          <div class="tags">
            <div class="tag">
                <span class="tag__title">Javascript</span>
            </div>
            <div class="tag">
                <span class="tag__title">MySQL</span>
            </div>
          </div>
        </div>
        <div class="fb-grid__col-12">
          <h3>Form</h3>
          <hr>
        </div>
        <div class="fb-grid__col-4 fb-grid__col-sm-12 fb-grid__col-xs-12">
          <div class="form-control">
              <input class="form-input" type="text" placeholder="Form Input">
          </div>
        </div>
        <div class="fb-grid__col-4 fb-grid__col-sm-12 fb-grid__col-xs-12">
          <div class="form-control">
              <textarea class="form-input" rows="6" placeholder="Textarea"></textarea>
          </div>
        </div>
        <div class="fb-grid__col-12">
          <h3>Cards</h3>
          <hr>
        </div>
        <div class="fb-grid__col-6 fb-grid__col-sm-12 fb-grid__col-xs-12">
            <div class="card post">
                <div class="card__image post__image">
                    <img src="../assets/images/posts/post-1/thumb.jpg" alt="WarmathonThumbnail">
                </div>
                <div class="card__content post__content">
                    <h2 class="card__title">Warmathon - Music for Life</h2>
                    <p>Dit was Opendeurdag 2018! Wij vonden het fantastisch... hopelijk jullie ook! See you next year!</p>
                    <a href="#">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="fb-grid__col-6 fb-grid__col-sm-12 fb-grid__col-xs-12">
          <div class="card project">
              <div class="card__image">
                  <img src="../../../assets/images/projects/project1.jpg" alt="Trois-Quarts Thumbnail">
              </div>
              <div class="card__content">
                  <p>Jordy Van der Haegen</p>
                  <h2 class="card__title">Web App - Swappit</h2>
              </div>
          </div>
        </div>
        <div class="fb-grid__col-12">
          <h3>Spotlight Card</h3>
          <hr>
        </div>
        <div class="fb-grid__col-12">
            <div class="card">
                <div class="card__image spotlight__image">
                    <img src="../assets/images/project4.png" alt="Mighty Spicy thumbnail">
                </div>
                <div class="card__content spotlight__content">
                    <p class="spotlight__student">Liesbeth Tempelare</p>
                    <p>
                    In de tweede jaar ontwikkelden de studenten een huisstijl voor een foodtruck-concept. 
                    Liesbeth bracht haar pittige taco's via een kleurrijke branding aan de man
                    </p>

                    {{> includes/button title="Bekijk dit project" path="/projectdetail.html?id=0"}}
                </div>
            </div>
        </div>
        <div class="fb-grid__col-12">
          <h3>Navbar</h3>
          <hr>
        </div>
        <div class="fb-grid__col-12">
            <nav class="navbar">
                <section class="navbar__title">
                    <h2 class="navbar__logo"><a href="#">Talent</a></h2>
                </section>
                <section class="navbar__links">
                    <ul class="nav">
                        <li class="nav__item"><a href="#">Projecten</a></li>
                        <li class="nav__item"><a href="#">Blog</a></li>
                        <li class="nav__item"><a href="#">Over de opleiding</a></li>
                        <li class="nav__item"><a href="#">Contact</a></li>
                    </ul>
                </section>
                <section class="navbar__user">
                    <ul class="nav">
                      <li class="nav__item"><a href="#">Inloggen</a></li>
                    </ul>
                </section>
            </nav>
        </div>
      </div>
    </div>
    <br>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}