// Color Variables 
$java: #1CCCE1;
$radical-red: #FF2064;
$shark: #2B2F34;
$white: #FFF;
$wild-sand: #F6F6F6;
$gray: #878787;

// Color Configs
$color-primary: $java;
$color-secondary: $radical-red;
$color-heading: $shark;
$color-background: $wild-sand;
$color-text: $gray;